:host {
    width: 80%;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 100%;
}
.orderTitle{
    margin-bottom:15px;
}
.fieldHead {
    font-weight: bold;
    width: 100%;
}

.inputField,
.sumField {
    width: 100%;
}

.fieldContent {
    width: 100%;
    margin-left: 10px;
}

.plateHead {
    max-width: 50px;
    flex-grow: 1;
}

.plateBody {
    flex-grow: 9;
}

#basePriceExpansion,
#basePriceExpansion mat-expansion-panel-header {
    padding: 0;
    box-shadow: 0 0 0;
    background: none;
}

.option {
    animation: popup 0.3s ease-out;
}
.parallelField{
    animation: popup 0.2s ease-in;
}

@keyframes popup {
    from {
        width: 80%;
        opacity: 0;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}