<div class="wrapper" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">
  <div class="orderTitle">
    <h2>创建订单</h2>
  </div>
  <!-- <div style="flex:1 1 auto;"></div> -->
  <div class="fieldHead">
    服务订单类型
    <font color="red">*</font>
  </div>
  <div class="fieldContent">
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <mat-form-field class="inputField">
        <mat-select class="option" [(value)]="selectedService" (change)="updateServiceOption()">
          <!-- <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option> -->
          <mat-option value="carBeautify">洗车美容</mat-option>
          <mat-option value="carMaintenance">保养维护</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="fieldHead">
    车牌号
    <font color="red">*</font>
    <button style="display:inline-block;min-width:50px;padding:0; position:relative; overflow:hidden;" mat-button color="primary">
      <mat-icon class="mat-18">camera_enhance</mat-icon>
      <input id="carPic" style="opacity: 0;position:absolute; right:0; top:0; " mat-button type="file" (change)="addFile()" ng2FileSelect
        [uploader]="uploader" />
    </button>
  </div>
  <div class="fieldContent" id="plateNo">
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <mat-form-field class="plateHead">
        <input matInput [matAutocomplete]="auto" type="text" placeholder="省份" [(ngModel)]="plateAbbr">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let abbr of provinceAbbr" [value]="abbr.value">{{abbr.viewValue}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="plateBody">
        <input matInput type="text" placeholder="号码" [(ngModel)]="plateString" required>
      </mat-form-field>
    </div>
  </div>
  <div class="fieldHead">
    汽车公里数
  </div>
  <div class="fieldContent">
    <mat-input-container style="width:100%" floatPlaceholder="auto">
      <input matInput type="number" [(ngModel)]="travelMiles">
    </mat-input-container>
  </div>
  <div class="fieldContent">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx">
      <div id="mileShow">0</div>
      <mat-slider style="width:80%;" (input)="onChangeMiles($event)" [disabled]="false" [max]="300000" [min]="0" [step]="1" [tick-interval]="100000" [(ngModel)]="travelMiles">
      </mat-slider>
      <div>30万</div>
    </div>
  </div>
  <div class="fieldHead">
    服务选项
  </div>
  <div class="fieldContent">
    <mat-accordion>
      <mat-expansion-panel  id="basePriceExpansion">
        <mat-expansion-panel-header>
          <mat-panel-title>基础费用</mat-panel-title>
          <mat-panel-description>
            <ng-container *ngIf="basePrice === 0.00; else hasBasePrice">
              默认{{basePrice}}元
            </ng-container>
            <ng-template #hasBasePrice>
              <font color="green" wight="bold">{{basePrice| number : '1.2-2'}}</font>元
            </ng-template>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="basePrice" [(value)]="basePrice">
          <span matPrefix>￥&nbsp;</span>
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="fieldContent">
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx" *ngFor="let item of serviceOption | async; index as i; ">
      <mat-form-field class="inputField">
        <mat-select (change)="updateSelectedOption($event)" value="{{i}}-default">
          <!-- <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option> -->
          <mat-option value="{{i}}-default">{{item.name}}: 无</mat-option>
          <ng-container *ngFor="let option of item.options">
            <mat-option value="{{i}}-{{option.itemName}}">
              {{option.itemName}}
              <font color="green" wight="bold">￥{{option.price| number : '1.2-2'}}</font>
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <mat-form-field class="inputField">
        <mat-select [(value)]="selectedService">
          <mat-option value="carBeautifyOrder">洗车美容</mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
  </div>
  <div class="fieldContent">
    <mat-accordion>
      <mat-expansion-panel  id="basePriceExpansion">
        <mat-expansion-panel-header>
          <mat-panel-title>备注</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <textarea matInput placeholder="留言" [(ngModel)]="note"></textarea>
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="sumField">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="gappx">
      <div>
        <h3>总计:</h3>
      </div>
      <div style="flex:1 1 auto"></div>
      <div>
        <h3>
          <font color="green" wight="bold">￥{{sumUp()| number : '1.2-2'}}</font>
        </h3>
      </div>
    </div>
  </div>
  <div class="fieldHead">
    <div fxLayout="row-reverse " style="justify-content:space-between;" fxLayoutGap="gappx">
      <button mat-raised-button (click)="submit()" color="primary">提交</button>
    </div>
  </div>
</div>