<ng-container *ngIf="authGuardService.canActivate()">

  <div class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand">对准要检测的车牌</a>
    </div>
  </div>

  <div>
    <div>
      <br/> 单张图片
      <input type="file" ng2FileSelect [uploader]="uploader" />
      <mat-card>
        <mat-card-header>
          <mat-card-title>上传列表</mat-card-title>
          <mat-card-subtitle>长度: {{ uploader?.queue?.length }}</mat-card-subtitle>
        </mat-card-header>
        <div>
          进度:
          <div class="progress" style="width:100%;">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>
        <mat-card-content>
          <mat-grid-list cols="10" rowHeight="50">
            <mat-grid-tile [colspan]="3" [rowspan]="1">
              <mat-grid-tile-header>文件名</mat-grid-tile-header>
            </mat-grid-tile>

             
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-grid-tile-header>状态</mat-grid-tile-header>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="5" [rowspan]="1">
              <mat-grid-tile-header>选择</mat-grid-tile-header>
            </mat-grid-tile>
            <div *ngFor="let item of uploader.queue" style="font-size:10pt;">
              <mat-grid-tile [colspan]="3" [rowspan]="1">
                {{ item?.file?.name }}
              </mat-grid-tile>
               
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                <div class="text-center">
                  <span *ngIf="item.isSuccess">
                    <mat-icon class="mat-18">done</mat-icon>
                  </span>
                  <span *ngIf="item.isCancel">
                    <mat-icon class="mat-18">cancel</mat-icon>
                  </span>
                  <span *ngIf="item.isError">
                    <mat-icon class="mat-18">error</mat-icon>
                  </span>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="5" [rowspan]="1">
                <div style="width:100%;text-align:center;">
                  <button mat-mini-fab color="primary" style="box-shadow:none;" (click)="uploadOne(item)" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    上传
                  </button>
                  <button mat-mini-fab color="warn" style="box-shadow:none;" (click)="item.cancel()" [disabled]="!item.isUploading">
                    取消
                  </button>
                  <button mat-mini-fab color="warn"  style="box-shadow:none;" (click)="item.remove()">
                    移除
                  </button>
                </div>
              </mat-grid-tile>
            </div>
          </mat-grid-list>
        </mat-card-content>
        <mat-card-footer>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</ng-container>
