.example-sidenav-content {
    /* margin-top: 60px; */
    overflow: visible;
    display: flex;
    /* height: 100%; */
    /* align-items: center; */
    justify-content: center;
}

.example-sidenav {
    color: #fff;
    min-width: 15%;
    background-color: #3f51b5;
    padding: 20px;
}

#menuList {
    color: white;
}

#menuList .mat-button {
    color: white;
}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (max-width: 599px) {
    .example-container {
        top: 56px;
    }
}

.menuButton {
    background: rgba(194, 198, 220, 0.29);
    border-radius: 10%;
    transition: all 0.2s ease-out;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 10px;
    color: #3f51b5;
    outline: none;
    padding: 0;
    min-width: 50px;
}

.menuButton:hover {
    border-radius: 50%;
    color: white;
    background: #3f51b5;
}