<mat-drawer-container class="example-container" autosize>
  <!-- 菜单栏 -->
  <mat-drawer color="primary" #drawer class="example-sidenav" mode='over'>
    <div>
      <mat-list id="menuList">
        <mat-list-item>
          <a mat-button focus='false' routerLink="/" (click)="drawer.toggle()">首页</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item >
          <a mat-button routerLink="/carEnterance" (click)="drawer.toggle()">扫描车牌</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <a mat-button routerLink="/mg-user" (click)="drawer.toggle()">列表</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <a mat-button routerLink="/orderSubmit" (click)="drawer.toggle()">创建订单</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <a mat-button routerLink="/cashier-board" (click)="drawer.toggle()">收银台</a>
        </mat-list-item>
        <mat-divider></mat-divider>

      </mat-list>
    </div>
  </mat-drawer>

  <!-- 主页面 -->
  <mat-toolbar *ngIf="true||this.jwtService.hasOneOfAuthorities(['ROLE_STAFF','ROLE_ADMIN'])"  color="primary">
    <button class="menuButton" type="button" mat-button (click)="drawer.toggle()">
      <mat-icon class="example-icon">menu</mat-icon>
    </button>
  </mat-toolbar>
  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>