<h1 matDialogTitle>订单列表</h1>

<mat-dialog-content>
  <ng-container *ngFor="let item of data">
    <mat-card class="orderItem">
      <mat-card-header>
        <mat-card-title>
          <h5>
            <ng-container *ngIf="item.state ==='UNPAY'">
              [
              <font color="red">未付款</font>]
            </ng-container>
            <ng-container *ngIf="item.state ==='FINISHED'">
              [
              <font color="green">已付款</font>]
            </ng-container>
            <br>
            <b>{{item.name}}</b>
          </h5>
        </mat-card-title>
        <mat-card-subtitle>
          <i style="font-size:10px;">{{item.orderNo}}</i>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel id="basePriceExpansion">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div>总价：
                  <ng-container *ngIf="item.isResetTotal; else showTotal">
                    <del>
                      <font color="black">{{item.total}}</font>
                    </del>
                    <font size="5" color="green"> {{item.resetTotal}}</font>
                  </ng-container>
                  <ng-template #showTotal>
                    <font color="green">{{item.total}}</font>
                  </ng-template>
                </div>
              </mat-panel-title>
              <mat-panel-description>
                <ng-container *ngIf="item.progress ==='PENDING'">
                  <font color="LightSeaGreen">准备中</font>
                </ng-container>
                <ng-container *ngIf="item.progress ==='WORKING'">
                  <font color="coral">进行中</font>
                </ng-container>
                <ng-container *ngIf="item.progress ==='WAITING_CONFIRM'">
                  <font color="crimson">待客户确认</font>
                </ng-container>
                <ng-container *ngIf="item.progress ==='FINISHED'">
                  <font color="green">完成</font>
                </ng-container>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <ng-container *ngFor="let key of item.optionKeys">
                <mat-list-item>
                  <font weight="blod">{{key}}:{{item.selectedOption[key]}}</font>
                </mat-list-item>
                <mat-divider></mat-divider>
              </ng-container>
              <button (click)="resetTotal(item.total,item.orderNo)" style="margin-top: 10px;max-width:60px;" align="start" mat-raised-button
                color="warn">修改金额</button>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <mat-card-actions style="display:flex;justify-content:space-around;">
        <button style="max-width:60px;" align="start" (click)="confirmPay(item.orderNo)" mat-raised-button color="primary">确认结账</button>
        <button style="max-width:60px;" align="end" (click)="cancelOrder(item.orderNo)" mat-button color="primary">取消订单</button>
      </mat-card-actions>
      <mat-card-footer>
        <ng-container *ngIf="item.note!==''">
          <div align="start">备注:
            <font align="end" color="blue" weight="bold">{{item.note}}</font>
          </div>
        </ng-container>
        <ng-container *ngIf="item.resetNote!==''">
          <br>
          <div align="start">金额修改:
            <font align="end" color="brown" weight="bold">{{item.resetNote}}</font>
          </div>
        </ng-container>
  
      </mat-card-footer>
    </mat-card>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button matDialogClose>关闭</button>
</mat-dialog-actions>