<ng-container>
  <mat-toolbar class="toolbar mat-elevation-z6" color="primary">
    <mat-toolbar-row  fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="gappx">
      <div style="display:flex;" fxFlexAlign="start center">
        <b >{{title}}</b>
      </div>
      <div class="flex-spacer"></div>
      <div fxFlexAlign="end center">
        <ng-container *ngIf="this.jwtService.checkToken(); else elseTemplate">
          <button id='menuButton' mat-icon-button [matMenuTriggerFor]="menu">
            <span>{{jwtService.getUser().username}}</span>
            <mat-icon class="example-icon">person_pin</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button routerLink='/me' mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>我的信息</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>我的订单</span>
            </button>
            <button (click)='logout()' mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              <span>退出登录</span>
            </button>


          </mat-menu>

        </ng-container>
        <ng-template #elseTemplate>
          <button mat-button (click)="loginDialog()">
            <span>登录/注册</span>
            <mat-icon class="example-icon">person_pin</mat-icon>
          </button>
        </ng-template>


      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-container>
<app-slide-nav></app-slide-nav>