<div class="wrapper">
  <!-- 筛选栏 -->
  <div class="filterBar">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="查找：姓名/手机/微信" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-button (click)="addStaff()">
      添加员工
      <mat-icon class="mat-18">add</mat-icon>
    </button>
  </div>
  <!-- 表格 -->
  <div style="position: relative;">
    <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
      <mat-progress-bar style="top: 0px;position: absolute;" mode="indeterminate" *ngIf="isLoadingResults"></mat-progress-bar>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        访问频率过高，请稍后再操作
        <br>
        <button mat-button (click)="isRateLimitReached = false">确认</button>
      </div>
    </div>
    <mat-table class="myTable" #table [dataSource]="tableSource" matSort>

      <!-- 表格头部  s声明顺序不影响显示顺序，显示依据 displayedColumns数组顺序 -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="headimg">
        <mat-header-cell *matHeaderCellDef>头像</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <img style="max-width:40px;max-height:40px;" [src]="row.headimg" alt="用户头像">
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="createTime">
        <!-- disableClear = 清除排序 -->
        <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="false">
          创建日期
        </mat-header-cell>
        <mat-cell  style="flex:1.4;" *matCellDef="let row">{{ row.createTime | date }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="realName">
        <mat-header-cell *matHeaderCellDef>姓名</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.realName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="enable">
        <mat-header-cell *matHeaderCellDef>停用</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-slide-toggle [ngModel]="!row.enabled" (change)="changeEnable($event,row.id)" color="primary"></mat-slide-toggle>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef>手机号</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.phone }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="weixin">
        <mat-header-cell *matHeaderCellDef>微信号</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.weixin }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="department">
        <mat-header-cell *matHeaderCellDef>部门</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button *ngIf="row.department != null" mat-button (click)="viewStaffOrders(row.id)">{{row.department.name}}</button>
        </mat-cell>
      </ng-container>
      <mat-divider></mat-divider>
      <ng-container  matColumnDef="action">
        <mat-header-cell style="flex:2;text-align: center;" *matHeaderCellDef>操作</mat-header-cell>
        <mat-cell style="flex:2;" *matCellDef="let row">
          <button rowAction class="action" mat-button color="primary" (click)="viewStaffOrders(row.id)">本月业绩</button>
          <button rowAction class="action" mat-button color="primary" (click)="edit(row)">编辑</button>
          <button rowAction class="action" mat-button color="warn" (click)="authority(row)">权限</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <!-- 表格头部 end -->
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator color="primary" class="myPaginator" showFirstLastButtons="true" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
  </div>

</div>