:host {
    width: 80%;
}

.example-full-width {
    width: 80%;
}

.flexCenterContainer {
    display: flex;
    justify-content: center;
}

.flexCenterContainer * {
    align-self: center;
}

.serviceWrap {
    padding: 0 5px;
    margin-top: 10px;
}

.serviceShow {
    display: flex;
    justify-content: space-between;
    /* 两端*/
    flex-wrap: wrap;
}

.starButton {
    outline: none;
    color: #e6e600;
}

.starButton:focus {
    outline: none;
}

.service-card {
    margin: 10px;
    animation: showUp 0.1s linear;
}

.searchResult {
    position: absolute;
    z-index: 2;
    width: 80%;
    top: -10px;
    box-shadow: 0 1px 3px 0 grey;
}

.carousel {
    animation: showUp 0.3s linear;
}

@keyframes showUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}