<mat-progress-bar style="position: absolute;top: 0;left:0;" mode="indeterminate" *ngIf="!resultState"></mat-progress-bar>
<div class="serviceWrap">
  <div class="serviceSearch">
    <form class="flexCenterContainer" autocomplete="on">
      <mat-icon matSuffix class="example-icon" color="primary">search</mat-icon>
      <mat-form-field class="example-full-width">
        <input #searchBox type="text" (blur)="searchBlur(searchBox.value)" (click)="searchMode=true" (keyup)="search(searchBox.value)"
          placeholder="店内产品搜索" matInput>
      </mat-form-field>
      <a mat-icon-button *ngIf="searchMode" (click)="searchMode=false" color="primary">
        <mat-icon class="mat-18">close</mat-icon>
      </a>
      <!-- 搜索框 -->
      <!-- 
      <div style="position:relative">
        <div id="searchResult" class="searchResult">
          <mat-option *ngFor="let option of product$ | async" [value]="option">
            {{ option.name }}
          </mat-option>
        </div>
      </div>  -->
    </form>
  </div>
  <ng-container *ngIf="!searchMode; else showSearch">
    <ngb-carousel class="carousel" >
      <ng-template *ngFor="let item of images" ngbSlide>
        <img style="width: 100%;" [src]="item.imgUrl" alt="{{item.title}}">
        <div class="carousel-caption">
          <h3>{{item.title}}</h3>
          <p>{{item.description}}</p>  
        </div>
      </ng-template>
    </ngb-carousel>
  </ng-container>
  <ng-template #showSearch>
    <div class="searchResultFeild">
      <div style="flex: 1 1 auto;"></div>
      <div class="serviceShow">
        <!-- <mat-progress-bar mode="indeterminate" *ngIf="!resultState"></mat-progress-bar> -->
        <ng-container *ngFor="let item of product$ | async;index as i">
          <mat-card class="service-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{item.name}} </mat-card-title>
              <mat-card-subtitle>{{item.type}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{item.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary">购买</button>
              <button mat-icon-button class="starButton">
                <mat-icon class="starButton">star</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </div>
      <div style="flex: 1 1 auto;"></div>
    </div>

  </ng-template>
</div>