<div class="serviceWrap">
  <div class="serviceSearch">
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Assignee" aria-label="Assignee" matInput [formControl]="searchControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
</div>

<ng-container *ngFor="let item of products;index as i">
  <ng-container *ngIf="i%2==0;">
    <div class="serviceShow" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{products[i].name}} </mat-card-title>
          <mat-card-subtitle>{{products[i].type}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{products[i].description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">购买</button>
          <button mat-icon-button color="warn">
            <mat-icon class="starButton" aria-label="Example icon-button with a heart icon">star</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card> 

      <ng-container *ngIf="i+1<products.length">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{products[i+1].name}} </mat-card-title>
            <mat-card-subtitle>{{products[i+1].type}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{products[i+1].description}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary">购买</button>
            <button mat-icon-button color="warn">
            <mat-icon  class="starButton"  aria-label="Example icon-button with a heart icon">star</mat-icon> 
          </button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
</div>
