<div class="panel" style="font-size:20pt;">
  <ng-container *ngIf="loginMode; else registerTemplate">
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <div fxFlex="100%" fxLayoutAlign="center center" fxFlexFill>
        <span>用户登录</span>
      </div>
    </div>
    <br>
    <br>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div (keyup.enter)="loginSubmit()" fxFelx="100%" class="loginForm">

        <mat-form-field class="loginInput">

          <input matInput placeholder="用户名/手机号码" [(ngModel)]="user.username">
          <mat-icon matSuffix class="example-icon" color="primary">account_box</mat-icon>
        </mat-form-field>
        <mat-form-field class="loginInput">
          <input type="password" matInput placeholder="密码" [(ngModel)]="user.password">
          <mat-icon matSuffix color="primary">vpn_key</mat-icon>
        </mat-form-field>

        <div style="display: flex;">
          <button mat-button (click)="loginSubmit()" color="primary">
            <mat-icon class="mat-18">fingerprint</mat-icon>
            <span>登录</span>
          </button>

          <button mat-button (click)="loginCancel()" color="primary">
            <mat-icon class="mat-18">close</mat-icon>
            <span>关闭</span>
          </button>
          <div style="flex:1 1 auto;"></div>
          <button mat-button (click)="loginMode=false" color="primary">
            <span>注册</span>
          </button>
        </div>
      </div>

    </div>
  </ng-container>
  <ng-template #registerTemplate>
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">
      <div  class="registerTop">
          <div>
            <span>用户注册</span>
          </div>
      </div>
      <div style="width:100%;" class="registerBody">
        <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="2px">
          <mat-input-container class="loginInput">
            <input matInput [(ngModel)]="realName" type="text" placeholder="姓名" required>
            <span matPrefix>
              <mat-icon class="mat-18">account_box</mat-icon>
            </span>
          </mat-input-container>
          <mat-input-container class="loginInput">
              <input matInput
                    [(ngModel)]="phone"
                     type="text"
                     required
                     placeholder="中国大陆手机号">
              <span matPrefix><mat-icon class="mat-18">phone</mat-icon></span>
          </mat-input-container>
          <mat-input-container class="loginInput">
            <input matInput [(ngModel)]="password" type="password" placeholder="密码" required>
            <span matPrefix><mat-icon class="mat-18">vpn_key</mat-icon></span>
          </mat-input-container>
          <mat-input-container class="loginInput">
            <input matInput [(ngModel)]="confirmPassword" type="password" placeholder="确认密码" required>
          </mat-input-container>
        </div>
      </div>
      <div class="registerBottom">
        <button mat-raised-button (click)="signUp()" color="primary" >注册</button>
        <button mat-button (click)="loginMode=true" color="primary">
          <span>已有账号</span>
        </button>
      </div>
    </div>
  </ng-template>
</div>